{% extends 'usuarios/base.html' %}
{% block conteudo %}
<form action="{% url 'listagem_usuarios' %}" method="post">
  {% csrf_token %} <!-- Token de segurança -->
    <div style="text-align: center;" class="container_cad_usuario">
        <h1>Cadastro de Usuários</h1>
        <label for="name">Nome </label>
        <input class="input_nome" type="text" id="nome" name="nome">

        <label for="idade">Idade </label>
        <input class="input_idade" type="text" id="idade" name="idade">

        <button>Enviar</button>
    </div>
</form>
{% endblock %}
