{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class='container'>
    <h1>Lista de Usuários cadastrados</h1>
    <form action="{% url 'listagem_usuarios' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Adicionar Usuário</button>
    </form>
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Ações</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.idade }}</td>
            <td>
                <a href="{% url 'editar_usuario' usuario.pk %}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
