{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class='container'>
    <h1>Lista de Usuários cadastrados</h1>
    <a href="{% url 'criar_usuario' %}" class="btn btn-primary">Criar Novo Usuário</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id_usuario }}</td>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.idade }}</td>
                <td>
                    <a href="{% url 'criar_usuario' %}" class="btn btn-primary">Criar Usuário</a>
                    <a href="{% url 'editar_usuario' usuario.id_usuario %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'deletar_usuario' usuario.id_usuario %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
