{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class="container">
    <h1>Lista de Usuários</h1>
    <a href="{% url 'create_usuario' %}" class="btn btn-primary mb-3">Adicionar Usuário</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.idade }}</td>
                <td>
                    <a href="{% url 'update_usuario' usuario.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'delete_usuario' usuario.id %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
